@import "tailwindcss";

:root {
  color-scheme: light !important;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.blue-dot {
  position: absolute !important;
  top: -10%;
  right: -10%;
}

.with-dot {
  position: relative;
}
